<template>
  <div>
    <PageLoader v-if="isLoading" />
    <HomeContent v-else />
  </div>
</template>

<script>
import { mapState } from "vuex";
import PageLoader from "../components/PageLoader.vue";
import HomeContent from "../components/home/HomeContent";

export default {
  name: "home",

  components: {
    HomeContent,
    PageLoader,
  },

  computed: {
    ...mapState("profile", ["isLoading", "userDetails"]),
  },
};
</script>
